#siteName {
	font-family: 'Volkhov',serif;
}

a {
	color: black;
}

body {
	font-family: serif;
	background-image: url("images/sourcepainting.jpg");
	background-repeat: no-repeat;
	background-position: 750px 20px;
	background-color: rgba(0, 0, 0, 0.05);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.artist {
	font-style: italic;
}

.composition {
	font-style: bold;
}

.disregarded {
	border: 1px dotted grey;
}

.picture {
	box-shadow: 2px 2px grey;
}

.nav {
	display: block;
	width: 100px;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
}

.nav:hover {
	color: white;
	background-color: #333333;
}

#futile {
	border: 3px solid black;
}

#gallery {
	border-style: hidden;
}

/* I realize that there are several classes specified in the HTML that are not modified here. */
